body {
    font-family: 'Arial', sans-serif;
    background-color: #1a1a1a;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    max-width: 400px;
    padding: 20px;
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: yellow;
    padding: 2px;
}

.input-container {
    margin-bottom: 20px;
}

input[type="date"] {
    padding: 10px;
    border: 1px solid #007BFF;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    outline: none;
}

input[type="date"]::placeholder {
    color: #777;
}

button {
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#result {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    color: #007BFF;
}
